```html
<!DOCTYPE html>
<html>
<head>
    <title>Document Processor</title>
    <link rel="stylesheet" href="{% static 'document_processor/css/styles.css' %}">
</head>
<body>
    <div class="container">
        <h1>Upload your documents</h1>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" id="uploadButton">Upload</button>
        </form>
        <p id="fileSizeWarning">Please ensure total upload does not exceed 1GB.</p>
    </div>
    <script src="{% static 'document_processor/js/scripts.js' %}"></script>
</body>
</html>
```